form {
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: aliceblue;
  padding: 40px 30px 30px 30px;
  border-radius: 10px;
  color: rgba(0, 0, 0, 0.735);
  box-shadow: 0 0 35px 1px rgba(243, 176, 31, 0.551);
  margin: 30px;
}
label {
  margin-bottom: 5px;
}
input {
  margin-bottom: 20px;
  border: none;
  height: 40px;
  outline-color: rgba(255, 228, 196, 0.427);
  border-radius: 5px;
}
button {
  border: none;
  height: 50px;
  background-color: rgba(255, 228, 196, 0.269);
  border-radius: 5px;
  font-size: 20px;
  color: grey;
}

span {
  margin: 10px;
  color: red;
}
